@import '../css/normalize.scss';
//Mixins

@mixin font-roboto{
    font-family: 'Roboto', sans-serif;
}
// /Mixins

// COMMON
* {
    box-sizing: border-box;
}

body {
    @include font-roboto;
    font-weight: 400;
}

.section-inner {
    max-width: 956px;
    margin: 0 auto;
}

h3,h5, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-input {
    opacity: 50%;
    font-size: 16px;
    font-weight: 24px;
    border: 0;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #757575;
    opacity: 30%;
}
.input-container {
    margin-bottom: 55px;
    margin-top: 55px;
}

// /COMMON
.section-header {
    box-shadow: 0 3px 4px #F2F2F2;
}
.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.main-logo {
    margin-right: auto;
}

.header-login {
    padding: 14px 20px;
    border: 1px solid #E0E0E0;
    color: #1D1D1D;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
}

.header-login:hover {
    color: white;
    background-color: black;
    transition: 0.6s;
    cursor: pointer;
}

.basket {
    width: 19px;
    height: 22px;
    margin-left: 27px;
    background: url("/img/basket.svg") no-repeat;
}
.restaurant-header {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: outline;
    color: red;
}

.restaurant-header {
    margin-bottom: 15px;
}
// CARD

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-item {
    margin-bottom: 15px;
    &__img {
        padding-bottom: 15px;
    }
    &__header {
        font-size: 16px;
        line-height: 24px;
        color: #1D1D1D;
    }
    &__description {
        font-size: 14px;
        line-height: 21px;
        color: #626262;
    }
    &__header,&__description {
        padding-bottom: 5px;
    }
    &__time {
        padding-bottom: 20px;
        font-size: 13px;
        line-height: 21px;
    }
}

// /CARD

// FOOTER

.section-footer {
    background: #262626;
}
.footer-nav {
   &__white-logo {
       padding-bottom: 40px;
   }
    &__list {
        margin-top: 30px;
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    &__link {
        color: white;
        font-size: 13px;
        line-height: 16px;
        &--green {
            color: #49A144; 
        }
    }
    &__item {
        //flex: 1 1 308px;
        width: 308px;
        height: 220px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 45px;
        
    }
    &__select {
        width: 100%;
        height: 40px;
        background: #3B3B3B;
        color: white;
        font-size: 13px;
        line-height: 16px;
        text-indent: 25%;
    }

    &__white-logo {
        padding-top: 55px;
    }
    & hr {
        opacity: 40%;
        height: 1px;
    }
}

.select-wrapper {
    position: relative;
    &:before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        background: url("../img/Shape.svg");
        
        background-repeat: no-repeat;
        top:50%;
        transform:translate(100%, -50%);
        
    }
}

.link_big {
    font-size: 16px;
    line-height: 19px;
}
.social-list {
    display: flex;
    &__facebook {
        width: 24px;
        height: 24px;   
    }
    &__twitter {
        width: 24px;
        height: 24px;
    }
    &__instagram {
        width: 24px;
        height: 24px;
    }
}
.link_big {
    padding-top: 30px;
    padding-bottom: 20px;
}
.downloads {
    
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        padding-top: 40px;
        li:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__applestore {
        width: 120px;
        height: 40px;   
    }
    &__googleplay {
        width: 135px;
        height: 40px;
    }
}

.conditions {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 308px;
        padding-top: 40px;
        padding-bottom: 40px;
        a {
            font-size: 11px;
            line-height: 13px;
            color: white;
        }
        a:hover {
            text-decoration: underline;
            color: red;
        }
    }
 
}
// /FOOTER

@media (max-width: 768px){
    .header-login {
        margin: 16px 0px;
    }
    .section-inner {
        width: auto;
        margin: 0;
        padding: 0 8px;
    }
    .card-list {
        display: flex; 
        flex-wrap: wrap;
    }
    .card-item {
        flex: 0 0 47%;
    }
    .card-item__img {
        max-width: 100%;
        display: block;
    }
    .input-container {
        margin-bottom: 55px;
        margin-top: 55px;
    }
    .section-footer {
        margin-top: 32px;
    }
    .footer-nav {
        &__item {
            width: 200px;
        }
    }
    .conditions{
        &__item {
            width: 200px;
        }
    }
}
@media(max-width: 400px) {
    .basket {
        display: none;
    }
    
    .card-item {
        flex: 0 0 100%;
    }   
    .card-item__img {
        max-width: 100%;
    }
    .conditions {
        margin-top: 32px;
        &__list {
            display: flex;
            flex-direction: column;
        }
        &__item {
            padding-top: 0px;
            padding-bottom: 24px;
        }
    }
    .downloads {
        &__applestore {
            width: 108px;
            height: 34px;
        }
        &__googleplay {
            width: 124px;
            height: 36px;
        }
    }
}