@import '../css/normalize.scss';
//Mixins
@mixin font-lato {
font-family: 'Lato', sans-serif;
}
@mixin font-montserrat{
font-family: 'Montserrat', sans-serif;
}
@mixin font-roboto{
    font-family: 'Roboto', sans-serif;
}
// /Mixins

// COMMON
* {
    box-sizing: border-box;
}

body {
    @include font-roboto;
    font-weight: 400;
}

.section-inner {
    max-width: 956px;
    margin: 0 auto;
}

h3,h5, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-input {
    opacity: 50%;
    font-size: 16px;
    font-weight: 24px;
    border: 0;
    outline: none;
    width: 100%;
}
.input-container {
    border-bottom: 1px solid #757575;
    opacity: 30%;
    margin-bottom: 55px;
    margin-top: 55px;
}
// /COMMON
.section-header {
    box-shadow: 0 3px 4px #F2F2F2;
}
.header-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.main-logo {
    margin-right: auto;
}

.header-login {
    padding: 14px 20px;
    border: 1px solid #E0E0E0;
    color: #1D1D1D;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
}

.header-login:hover {
    color: white;
    background-color: black;
    transition: 0.6s;
    cursor: pointer;
}

.basket {
    width: 19px;
    height: 22px;
    margin-left: 27px;
    background: url("/img/basket.svg") no-repeat;
}
.restaurant-header {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: outline;
    color: red;
}

.restaurant-header {
    margin-bottom: 15px;
}
// CARD

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-item {
    margin-bottom: 15px;
    &__img {
        padding-bottom: 15px;
    }
    &__header {
        font-size: 16px;
        line-height: 24px;
        color: #1D1D1D;
    }
    &__description {
        font-size: 14px;
        line-height: 21px;
        color: #626262;
    }
    &__header,&__description {
        padding-bottom: 5px;
    }
    &__time {
        padding-bottom: 20px;
        font-size: 13px;
        line-height: 21px;
    }
}

// /CARD

// FOOTER

.section-footer {
    background: #262626;
}
.footer-nav {
   
    &__list {
        margin-top: 30px;
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }
    &__link {
        color: white;
        font-size: 13px;
        line-height: 16px;
    }
    &__item {
        //flex: 1 1 308px;
        width: 308px;
        height: 220px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 45px;
    }
    &__select {
        width: 227px;
        height: 40px;
        background: #3B3B3B;
        color: white;
        font-size: 13px;
        line-height: 16px;
    }
    &__white-logo {
        padding-top: 55px;
    }
    & hr {
        opacity: 40%;
        height: 1px;
    }
}

.link_big {
    font-size: 16px;
    line-height: 19px;
}
.social-list {
    display: flex;
    &__facebook {
        width: 24px;
        height: 24px;   
    }
    &__twitter {
        width: 24px;
        height: 24px;
    }
    &__instagram {
        width: 24px;
        height: 24px;
    }
}
.link_big {
    padding-top: 30px;
    padding-bottom: 20px;
}
.downloads {
    
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
        padding-top: 40px;
        li:not(:last-child) {
            margin-right: 40px;
        }
    }
    &__applestore {
        width: 120px;
        height: 40px;   
    }
    &__googleplay {
        width: 135px;
        height: 40px;
    }
}

.conditions {
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 308px;
        padding-top: 40px;
        padding-bottom: 40px;
        a {
            font-size: 11px;
            line-height: 13px;
            color: white;
        }
        a:hover {
            text-decoration: underline;
            color: red;
        }
    }
 
}
// /FOOTER